table{
	border:1px solid black;
	border-collapse:collapse;
}
th,td
{
	border:1px solid black;
	padding:5px;
}
tr:nth-child(2n)
{
	background-color:#a0a0a0;
}
thead
{
	background-color:#ccddee;
}
tfoot
{
background-color:#ddccee;
text-align:center;	
}